@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Lato-Black;
    src: url(fonts/Lato/Lato-Black.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/Open_Sans/static/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url(fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;

}

/*Variables*/
:root {
    /*Fonts*/
    --font-regular: OpenSans-Regular, sans-serif;
    --font-bold: OpenSans-Bold, sans-serif;
    --font-semibold: OpenSans-SemiBold, sans-serif;
    --font-black: Lato-Black, sans-serif;
    /*Colors*/
    --Black: #000;
    --DarkGrey: #232323;
    --MidGrey: #5D5D5D;
    --Mid-LightGrey: #9D9D9D;
    --LightGrey: #ECECEC;
    --LightestGrey: #F6F6F6;
    --White: #FFF;
}

img {
    max-width: 100%;
    display: block;
}

/*Typography Defaults*/
body {
    font-family: var(--font-regular), sans-serif;
    color: var(--DarkGrey);
}
h1 {
    font-family: var(--font-black);
    text-transform: uppercase;
    color: var(--Black);
    font-size: 1.7rem;
}
h2 {
    font-family: var(--font-bold);
    text-transform: uppercase;
}
h3, h4 {
    font-family: var(--font-semibold);
}
.h2-home {
    font-family: var(--font-bold);
    text-transform: none;
    font-size: 1.3rem;
}
.h3-home {
    font-family: var(--font-bold);
    font-size: 1rem;
}
p {
    line-height: 1.3rem;
}
.superscript {
  font-size: x-small;
  position: relative;
  top: -1rem;
}
a {
    text-decoration: none;
    color: var(--DarkGrey);
}
ul {
    list-style: none;
    padding-left: 0;
}


/*Header Styles*/
.logo {
    margin-left: 0.5rem;
}
.main-header {
    display: grid;
    grid-template-columns: 13rem 2fr 1fr;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
}
.header-nav-list {
    display: flex;
    font-family: var(--font-bold);
    font-size: 0.8rem;
    justify-content: end;
}
.header-nav-list li {
    padding: 0.5rem;
}
.header-nav-list i {
    font-size: 1rem;
}
.sub-header {
    background-color: var(--LightGrey);
}
.main-nav {
    max-width: 75rem;
    margin: 0 auto;
}
.main-nav-list {
    display: flex;
    margin: 0;
}
.main-nav-list li {
    padding: 0.7rem;
    font-family: var(--font-bold);
    text-transform: uppercase;
    font-size: 0.75rem;
}
.offer-area {
    background-color: var(--DarkGrey);
    color: var(--LightestGrey);
    font-size: 0.75rem;
    text-align: center;
}
.offer-area p {
    margin: 0;
}


/*Button Styles*/
.button {
    font-family: var(--font-bold);
    color: var(--LightestGrey);
    background-color: var(--Black);
    display: block;
    padding: 0.75rem 1rem;
    font-size: 0.75rem;
    border: none;
}
.button--outlined {
    background-color: var(--White);
    border: 1px solid var(--Black);
    color: var(--DarkGrey);
    text-transform: uppercase;
    font-family: var(--font-semibold);
}
.button--dark-grey {
    background-color: var(--MidGrey);
    color: var(--LightestGrey);
}
.button--light-grey {
    background-color: var(--Mid-LightGrey);
    color: var(--DarkGrey);
    text-transform: uppercase;
}


/*Form Styles*/
.search-bar {
    background-color: var(--LightestGrey);
    border: none;
    width: 27rem;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    font-size: 0.7rem;
}
.search-bar__mag-glass {
    font-size: 1.2rem;
    color: var(--DarkGrey);
    position: relative;
    top: 0.2rem;
    left: -2.5rem;
}


/*Components*/
.component img {
    max-width: initial;
}
.component__img {
    border: 1px solid var(--DarkGrey);
    overflow-x: auto;
}
.component__code {
    border: 1px solid var(--DarkGrey);
    margin-top: 0.5rem;
}
.swatch {
    display: flex;
    align-items: center;
}
.circle {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--LightestGrey);
    border-radius: 50%;
    border: solid 1px var(--Black);
    display: block;
}
.circle--light {
    background-color: var(--LightGrey);
}
.circle--mid-light {
    background-color: var(--Mid-LightGrey);
}
.circle--mid {
    background-color: var(--MidGrey);
}
.circle--dark {
    background-color: var(--DarkGrey);
}
.circle--black {
    background-color: var(--Black);
}
.white-icon {
    background-color: var(--DarkGrey);
    font-size: 1.75rem;
    border: solid 1px var(--DarkGrey);
}