@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Lato-Black;
    src: url(fonts/Lato/Lato-Black.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/Open_Sans/static/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url(fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: OpenSans-Italic;
    src: url(fonts/Open_Sans/static/OpenSans-Italic.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;

}

/*Variables*/
:root {
    /*Fonts*/
    --font-regular: OpenSans-Regular, sans-serif;
    --font-bold: OpenSans-Bold, sans-serif;
    --font-semibold: OpenSans-SemiBold, sans-serif;
    --font-black: Lato-Black, sans-serif;
    --font-italic: OpenSans-Italic, sans-serif;
    /*Colors*/
    --Black: #000;
    --DarkGrey: #232323;
    --MidGrey: #5D5D5D;
    --Mid-LightGrey: #9D9D9D;
    --LightGrey: #ECECEC;
    --LightestGrey: #F6F6F6;
    --White: #FFF;
}

img {
    max-width: 100%;
    display: block;
}
.main-area {
    /*margin: 0 1rem 0 16rem;*/
    padding-top: 1rem;
}

/*Typography Defaults*/
body {
    font-family: var(--font-regular), sans-serif;
    color: var(--DarkGrey);
}
h1 {
    font-family: var(--font-black);
    text-transform: uppercase;
    color: var(--Black);
    font-size: 1.7rem;
    margin: 0;
}
h2 {
    font-family: var(--font-bold);
    text-transform: uppercase;
}
h3, h4 {
    font-family: var(--font-semibold);
}
.h2-home {
    font-family: var(--font-bold);
    text-transform: none;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.h3-home {
    font-family: var(--font-bold);
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
p {
    line-height: 1.3rem;
}
.superscript {
  font-size: x-small;
  position: relative;
  top: -1rem;
}
a {
    text-decoration: none;
    color: var(--DarkGrey);
    display: inline-block;
}
ul {
    list-style: none;
    padding-left: 0;
}


/*Component Nav Bar*/
.component__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
}
.component__nav h1 {
    color: var(--LightestGrey);
    margin-left: 1rem;
}
.component__nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--DarkGrey);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 1rem 1rem 1rem 0;
}
.component__nav a {
    text-decoration: none;
    color: var(--Mid-LightGrey);
    display: block;
    transition: 0.3s;
    margin-left: 1rem;
}
.component__nav .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn {
    margin-right: 1rem;
}
#main-area {
  transition: margin-right .5s;
}
.nav__header {
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.nav__header a {
    color: var(--LightestGrey);
}


/*Header Styles*/
.logo {
    margin-left: 0.5rem;
}
.main-header {
    display: grid;
    grid-template-columns: 13rem 2fr 1fr;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
}
.header-nav-list {
    display: flex;
    font-family: var(--font-bold);
    font-size: 0.8rem;
    justify-content: end;
}
.header-nav-list li {
    padding: 0.5rem;
}
.header-nav-list i {
    font-size: 1rem;
}
.sub-header {
    background-color: var(--LightGrey);
}
.main-nav {
    max-width: 75rem;
    margin: 0 auto;
}
.main-nav-list {
    display: flex;
    margin: 0;
}
.main-nav-list li {
    padding: 0.7rem;
    font-family: var(--font-bold);
    text-transform: uppercase;
    font-size: 0.75rem;
}
.offer-area {
    background-color: var(--DarkGrey);
    color: var(--LightestGrey);
    font-size: 0.75rem;
    text-align: center;
}
.offer-area p {
    margin: 0;
}
/*Large Devices*/
@media screen and (min-width: 992px){
    .main-header--small {
        display: none;
    }
}
/*Small-Medium Devices*/
@media screen and (max-width: 992px) {
    .main-header, .sub-header {
        display: none;
    }
    .logo--small{
        font-size: 1rem;
    }
    .logo--small .superscript {
        display: none;
    }
    .main-header--small {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
}


/*Hero Section*/
.hero-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.hero__img, .hero__contents{
    grid-row: 1/2;
}
.hero__img {
    grid-column: 1/6;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.hero__contents {
    color: var(--DarkGrey);
    font-size: 1.5rem;
    line-height: 2.5rem;
    max-width: 35rem;
    text-align: right;
    align-self: center;
    grid-column: 4/-1;
    margin-right: 5rem;
}
.hero__contents p {
    line-height: 2rem;
}
.hero-heading {
    font-size: 2.5rem;
}
/*Large Screens*/
@media screen and (min-width: 993px) {
    .hero__description--medium {
        display: none;
    }
}
/*Medium Screens*/
@media screen and (max-width: 992px) {
    .hero-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 500px;
    }
    .hero__img, .hero__contents, .transparent-block--dark {
        grid-row: 1/-1;
        grid-column: 1/-1;
    }
    .hero__img {
        grid-column: 1/4;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .hero__contents {
        display: grid;
        grid-template-columns: 1fr 1fr 8rem;
        grid-template-rows: 1fr 1fr 3rem;
        color: var(--LightestGrey);
        text-align: left;
        align-self: end;
        grid-column: 1/4;
        margin: 1rem;
    }
    .hero__contents p {
        font-size: 1rem;
        line-height: 1.25rem;
        grid-column: 1/2;
    }
    .hero-heading {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
        grid-column: 1/2;
    }
    .transparent-block--dark {
        width: 100%;
        height: auto;
        grid-column: 1/4;
        background-color: #0000003f;
    }
    .hero__description--large {
        display: none;
    }
}


/*Featured Styles*/
.featured__background {
    background-color: var(--LightGrey);
}
.featured {
    max-width: 75rem;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    margin: 0 auto;
}
.featured__description {
    margin-bottom: 2rem;
}
.featured__img {
    max-width: 140px;
    height: auto;
}
.featured-product__title {
    color: var(--LightestGrey);
    font-family: var(--font-bold);
    margin-bottom: 0.75rem;
}
.hero__img, .product__contents, .transparent-block {
    grid-row: 1/2;
}
.product__contents {
    text-align: left;
    align-self: center;
    grid-column: 2/-1;
}
.transparent-block {
    width: 100%;
    height: auto;
    grid-column: 1/6;
    background-color: #f6f6f63f;
}
/*Small-Medium Devices*/
@media screen and (max-width: 992px) {
    .featured {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        max-width: 650px;
        padding: 2rem;
    }
    .featured__img {
        min-width: 20%;
        max-width: 100%;
        height: auto;
        margin-top: 1rem;
    }
    .product__contents {
        text-align: left;
        align-self: center;
        grid-column: 1/3;
        margin-left: 5rem;
    }
    .product--right-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }
    .transparent-block {
        width: 100%;
        height: auto;
        grid-column: 1/4;
        background-color: #f6f6f63f;
    }
}


/*Blog Post Styles*/
.nav--crumbs a {
    color: var(--Mid-LightGrey);
}
.nav--crumbs {
    margin-bottom: 3rem;
}
.crumb {
    display: inline-block;
}
.carrot a::after {
    content: " > ";
    display: inline-block;
    color: var(--Mid-LightGrey);
    padding-left: 0.25rem;
}
.blog__post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 75rem;
    margin: 0 auto;
    align-items: center;
}
.blog__img {
    width: 100%;
    max-width: 600px;
    height: auto;
}
.blog__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0.4rem;
}
.blog__contents {
    padding: 3rem;
}
.date-author {
    font-family: var(--font-italic);
    color: var(--Mid-LightGrey);
    display: inline-block;
    margin: 0 1rem 0.5rem 0;
    font-size: 0.8rem;
}
.blog__description {
    margin-bottom: 2rem;
    color: var(--MidGrey);
    line-height: 1.5rem;
}
/*Medium and Small Screens*/
@media screen and (max-width: 766px) {
    .blog__post {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        align-items: center;
        place-items: center;
    }
    .blog__img {
        width: 100%;
        max-width: 600px;
        height: auto;
    }
    .blog__contents {
        padding: 1rem 3rem;
    }
}


/*Footer Styles*/
footer {
    background-color: var(--DarkGrey);
    color: var(--Mid-LightGrey);
    padding: 2rem 2rem 1rem 2rem;
}
.footer {
    max-width: 75rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
}
.footer__heading a {
    color: var(--LightestGrey);
    text-transform: uppercase;
}
.footer__section .footer__link a {
    margin: 0.5rem 0;
    color: var(--Mid-LightGrey);
    font-size: 0.75rem;
}
.footer__section .footer__heading {
    margin-bottom: 1.5rem;
}
.footer--credit-cards {
    grid-column: 4;
    text-align: center;
}
.email-submission {
    margin: 1rem 0;
}
.email--sign-up {
    height: 2.5rem;
    background-color: var(--DarkGrey);
    border: solid 1px var(--Mid-LightGrey);
    border-left: none;
    max-width: 22rem;
    min-width: 18rem;
}
.checkbox-input {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--LightGrey);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--DarkGrey);
  border: 1px solid var(--LightGrey);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkbox-input input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkbox-input .checkmark:after {
  left: 7px;
  top: 2px;
  width: 8px;
  height: 15px;
  border: solid var(--LightGrey);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Medium Devices*/
@media screen and (max-width: 992px) {
    .footer {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
    .newsletter__section {
        grid-column: 1/-1;
    }
    .copyright {
        grid-column: 2;
        text-align: center;
        margin-top: 2rem;
    }
    .footer--credit-cards {
        grid-column: 1/-1;
        text-align: center;
    }
}


/*Button Styles*/
.button {
    font-family: var(--font-bold);
    color: var(--LightestGrey);
    background-color: var(--Black);
    display: inline-block;
    padding: 0.75rem 1rem;
    font-size: 0.75rem;
    border: none;
}
.button--outlined {
    background-color: var(--White);
    border: 1px solid var(--Black);
    color: var(--DarkGrey);
    text-transform: uppercase;
    font-family: var(--font-semibold);
}
.button--dark-grey {
    background-color: var(--MidGrey);
    color: var(--LightestGrey);
}
.button--light-grey {
    background-color: var(--Mid-LightGrey);
    color: var(--DarkGrey);
    text-transform: uppercase;
}
.button--hero {
    font-size: 1.25rem;
}
@media screen and (max-width: 992px) {
    .button--hero {
        font-size: 1rem;
    }
    .hero__contents button {
        grid-column: 3/4;
        grid-row: 3/4;
        text-align: center;
    }
}


/*Form Styles*/
.search-bar {
    background-color: var(--LightestGrey);
    border: none;
    width: 27rem;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    font-size: 0.7rem;
}
.search-bar__mag-glass {
    font-size: 1.2rem;
    color: var(--DarkGrey);
    position: relative;
    top: 0.2rem;
    left: -2.5rem;
}


/*Components*/
.component__title {
    background-color: var(--DarkGrey);
    color: var(--LightestGrey);
    padding: 0.5rem;
    position: sticky;
    top: 0;
    margin-top: 2rem;
}
.component__name {
    background-color: var(--LightGrey);
    margin-bottom: 0;
    padding: 0.5rem 0 0.5rem 1rem;
    position: sticky;
    top: 2.55rem;
}
.component__img {
    border: 1px solid var(--DarkGrey);
    overflow-x: auto;
}
.component__code {
    border: 1px solid var(--DarkGrey);
    margin-top: 0.5rem;
}
.swatch {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 1rem 2rem;
    align-items: center;
    margin: 0.5rem;
}
.swatch span {
    grid-row: 1/3;
}
.color-swatches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.circle {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--LightestGrey);
    border-radius: 50%;
    border: solid 1px var(--Black);
    display: block;
    margin: 0.5rem;
}
.circle--light {
    background-color: var(--LightGrey);
}
.circle--mid-light {
    background-color: var(--Mid-LightGrey);
}
.circle--mid {
    background-color: var(--MidGrey);
}
.circle--dark {
    background-color: var(--DarkGrey);
}
.circle--black {
    background-color: var(--Black);
}
.white-icon {
    background-color: var(--DarkGrey);
    font-size: 1.75rem;
    border: solid 1px var(--DarkGrey);
    margin: 1rem 0.25rem;
}