<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Components | Blackwing</title>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="https://kit.fontawesome.com/d16fbd348e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">Body</h3>
            <div class="component__img">
                <img srcset="img/Blog-Text.png 2x" src="img/Blog-Text.png" alt="body copy example">
            </div>
            <div class="component__code">
                <p>Shakers were expert woodworkers who saw beauty in the usefulness of the things they made. Simple shapes, solid joinery, and unadorned materials were the foundation of Shaker design. They build a legacy of beautiful and purposeful work for woodworkers to learn from and follow, demonstrating their commitment to craftsmanship, humble practice, and the use of sustainable materials.</p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">Headings (h1, h2, h3, etc.)</h3>
            <div class="component__img">
                <img srcset="img/Main-Header_Logo.png 2x" src="img/Main-Header_Logo.png" alt="heading h1 example">
                <img srcset="img/Featured-List_Title.png 2x" src="img/Featured-List_Title.png" alt="heading h2 example on home page">
                <img srcset="img/Featured-List_Item_Title.png 2x" src="img/Featured-List_Item_Title.png" alt="heading h2 example on home page">
                <img srcset="img/Section-Header.png 2x" src="img/Section-Header.png" alt="heading h2 example">
                <img srcset="img/Blog_Title.png 2x" src="img/Blog_Title.png" alt="heading h3 example from blog page">
            </div>
            <div class="component__code">
                <h1 class="logo">Blackwing</h1>
                <h2 class="h2-home">The Core Lineup</h2>
                <h3 class="h3-home">Blackwing 602</h3>
                <h2>Blackwing Blog</h2>
                <h3>Introducing Blackwing 21 - A Tribute To Woodworking</h3>
            </div>
        </article>

        <h2>Colors</h2>

        <article class="component">
            <h3 class="component__name">Brand Colors</h3>
            <div class="component__code">
                <div class="swatch">
                    <span class="circle"></span>
                    <h4>Lightest Grey</h4>
                    <p>#F6F6F6</p>
                </div>
                <div class="swatch">
                    <span class="circle circle--light"></span>
                    <h4>Light Grey</h4>
                    <p>#ECECEC</p>
                </div>
                <div class="swatch">
                    <span class="circle circle--mid-light"></span>
                    <h4>Mid-Light Grey</h4>
                    <p>#9D9D9D</p>
                </div>
                <div class="swatch">
                    <span class="circle circle--mid"></span>
                    <h4>Mid Grey</h4>
                    <p>#5D5D5D</p>
                </div>
                <div class="swatch">
                    <span class="circle circle--dark"></span>
                    <h4>Dark Grey</h4>
                    <p>#232323</p>
                </div>
                <div class="swatch">
                    <span class="circle circle--black"></span>
                    <h4>Black</h4>
                    <p>#000</p>
                </div>
            </div>
        </article>

        <h2>Atoms</h2>

        <article class="component">
            <h3 class="component__name">Wordmark</h3>
            <div class="component__img">
                <img srcset="img/Main-Header_Logo.png 2x" src="img/Main-Header_Logo.png" alt="wordmark example">
            </div>
            <div class="component__code">
                <h1>Blackwing<sup class="superscript">&copy;</sup></h1>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">Section Heading</h3>
            <div class="component__img">
                <img srcset="img/Section-Header.png 2x" src="img/Section-Header.png" alt="section heading example">
            </div>
            <div class="component__code">
                <h2>Blackwing Blog</h2>
            </div>
        </article>
        
        <article class="component">
            <h3 class="component__name">Buttons</h3>
            <div class="component__img">
                <img srcset="img/Button.png 2x" src="img/Button.png" alt="button example">
                <img srcset="img/Button--Outlined.png 2x" src="img/Button--Outlined.png" alt="outlined button example">
                <img srcset="img/Button--DarkGrey.png 2x" src="img/Button--DarkGrey.png" alt="dark grey button example">
                <img srcset="img/Button--LightGrey.png 2x" src="img/Button--LightGrey.png" alt="light grey button example">
            </div>
            <div class="component__code">
                <button class="button" type="button">Shop the core lineup</button>
                <button class="button button--outlined" type="button">View details</button>
                <button class="button button--dark-grey" type="button">Shop past releases</button>
                <button class="button button--light-grey" type="button">Submit</button>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">Search Bar</h3>
            <div class="component__img">
                <img srcset="img/Main-Header_Search-bar.png 2x" src="img/Main-Header_Search-bar.png" alt="search bar example">
            </div>
            <div class="component__code">
                <input class="search-bar" type="text" placeholder="Search entire store here...">
                <i class="fa-solid fa-magnifying-glass search-bar__mag-glass"></i>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">Icons</h3>
            <div class="component__img">
                <img srcset="img/Footer_Socials_Item.png 2x" src="img/Footer_Socials_Item.png" alt="social icon">
                <img srcset="img/Footer_Accepted-Cards_Single-Card.png 2x" src="img/Footer_Accepted-Cards_Single-Card.png" alt="credit card icon">
            </div>
            <div class="component__code">
                <i class="fa-brands fa-facebook white-icon" style="color: #ffffff;"></i>
            </div>
        </article>

        <h2>Page Header</h2>

        <article class="component">
            <h3 class="component__name">Page Header</h3>
            <div class="component__img">
                <img srcset="img/Page-Header.png 2x" src="img/Page-Header.png" alt="page header">
            </div>
            <div class="component__code">
                <div class="main-header">
                    <h1 class="logo">Blackwing<sup class="superscript">&copy;</sup></h1>
                    <div class="search">
                        <input class="search-bar" type="text" placeholder="Search entire store here...">
                        <i class="fa-solid fa-magnifying-glass search-bar__mag-glass"></i>
                    </div>
                    <nav class="main-header-nav">
                        <ul class="header-nav-list">
                            <li><a href="#!">Account</a></li>
                            <li><a href="#!">Contact Us</a></li>
                            <li><a href="#!"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="sub-header">
                    <nav class="main-nav">
                        <ul class="main-nav-list">
                            <li><a href="#!">About</a></li>
                            <li><a href="#!">Pencils</a></li>
                            <li><a href="#!">Paper</a></li>
                            <li><a href="#!">Accessories</a></li>
                            <li><a href="#!">Gifts</a></li>
                            <li><a href="#!">Custom</a></li>
                            <li><a href="#!">Subscribers</a></li>
                            <li><a href="#!">Retailers</a></li>
                            <li><a href="#!">Stories</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="offer-area">
                    <p>Free U.S. Shipping on orders of $75 or more.</p>
                </div>
            </div>
            <h3 class="component__name">Page Header - Main Area</h3>
            <div class="component__img">
                <img srcset="img/Page-Header_Main-Header.png 2x" src="img/Page-Header_Main-Header.png" alt="main area of the page header">
            </div>
            <div class="component__code">
                <div class="main-header">
                    <h1 class="logo">Blackwing<sup class="superscript">&copy;</sup></h1>
                    <div class="search">
                        <input class="search-bar" type="text" placeholder="Search entire store here...">
                        <i class="fa-solid fa-magnifying-glass search-bar__mag-glass"></i>
                    </div>
                    <nav class="main-header-nav">
                        <ul class="header-nav-list">
                            <li><a href="#!">Account</a></li>
                            <li><a href="#!">Contact Us</a></li>
                            <li><a href="#!"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <h3 class="component__name">Page Header - Main Nav</h3>
            <div class="component__img">
                <img srcset="img/Page-Header_Sub-Header-Nav.png 2x" src="img/Page-Header_Sub-Header-Nav.png" alt="main nav of the page header">
            </div>
            <div class="component__code">
                <div class="sub-header">
                    <nav class="main-nav">
                        <ul class="main-nav-list">
                            <li><a href="#!">About</a></li>
                            <li><a href="#!">Pencils</a></li>
                            <li><a href="#!">Paper</a></li>
                            <li><a href="#!">Accessories</a></li>
                            <li><a href="#!">Gifts</a></li>
                            <li><a href="#!">Custom</a></li>
                            <li><a href="#!">Subscribers</a></li>
                            <li><a href="#!">Retailers</a></li>
                            <li><a href="#!">Stories</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <h3 class="component__name">Page Header - Offer Area</h3>
            <div class="component__img">
                <img srcset="img/Page-Header_Offers.png 2x" src="img/Page-Header_Offers.png" alt="offer area of the page header">
            </div>
            <div class="offer-area">
                <p>Free U.S. Shipping on orders of $75 or more.</p>
            </div>
        </article>

        <h2>Hero Section</h2>

        <article class="component">
            <h3 class="component__name">Hero</h3>
            <div class="component__img">
                <img srcset="img/Hero.png 2x" src="img/Hero.png" alt="hero section">
            </div>
            <div class="component__code">
                <div class="hero-grid">
                    <img class="hero__img" src="img/PencilsVol21.webp" alt="blackwing pencils volume 21">
                    <div class="hero__contents">
                        <h2 class="h2-home hero-heading">Blackwing Vol. 21 Pencils</h2>
                        <p>Tribute to woodworking. Our first ever square pencil made with special finger joint slats.</p>
                        <button class="button button--hero" type="button">Shop Now</button>
                    </div>
                </div>
            </div>
        </article>

        <h2>Page Footer</h2>

        <article class="component">
            <h3 class="component__name">Footer</h3>
            <div class="component__img">
                <img srcset="img/Footer.png 2x" src="img/Footer.png" alt="page footer">
            </div>
            <div class="component__code">
                <footer>
                    <div class="footer">
                        <ul class="footer__section">
                            <li class="footer__heading">Help</li>
                            <li>Our Story</li>
                            <li>Contact Us</li>
                            <li>FAQs & Shipping Guide</li>
                            <li>Refunds & Returns</li>
                            <li>Account</li>
                            <li>Careers</li>
                            <li>Privacy Policy</li>
                            <li>CCPA Compliance</li>
                            <li>Terms Of Service</li>
                        </ul>
                        <ul class="footer__section">
                            <li class="footer__heading">Shop</li>
                            <li>Blackwing Pencils</li>
                            <li>Blackwing Volumes</li>
                            <li>Notebooks & Paper</li>
                            <li>Sharpeners & Accessories</li>
                            <li>Gift Sets & More</li>
                            <li>Shop All</li>
                        </ul>
                        <ul class="footer__section">
                            <li class="footer__heading">Wholesale</li>
                            <li>Become A Retailer</li>
                            <li>Find A Retailer</li>
                            <li>Retailer Policies</li>
                        </ul>
                        <ul class="footer__section">
                            <li class="footer__heading">Newsletter Sign Up</li>
                            <p>Be the first to know about product releases, promotions, exclusive content & more.</p>
                            <form action="" method="post">
                                <div>
                                    <input class="email--sign-up" type="text" placeholder="enter your email address">
                                    <button class="button button--light-grey" type="button">Submit</button>
                                </div>
                                <div>
                                    <input type="checkbox" id="receive-emails" value="yes-receive">
                                    <label for="receive-emails">Check this box to receive emails about products and promotions then submit.</label>
                                </div>
                            </form>
                            <div class="social-links">
                                <i class="fa-brands fa-facebook white-icon" style="color: #ffffff;"></i>
                                <i class="fa-brands fa-instagram white-icon" style="color: #ffffff;"></i>
                                <i class="fa-brands fa-youtube white-icon" style="color: #ffffff;"></i>
                                <i class="fa-brands fa-x-twitter white-icon" style="color: #ffffff;"></i>
                            </div>
                        </ul>
                        <div class="footer__section">
                            <p class="copyright">Copyright &copy; Blackwing 2025</p>
                        </div>
                        <div class="footer__section footer--credit-cards">
                            <i class="fa-solid fa-credit-card white-icon" style="color: #ffffff;"></i>
                            <i class="fa-solid fa-credit-card white-icon" style="color: #ffffff;"></i>
                            <i class="fa-solid fa-credit-card white-icon" style="color: #ffffff;"></i>
                            <i class="fa-solid fa-credit-card white-icon" style="color: #ffffff;"></i>
                            <i class="fa-solid fa-credit-card white-icon" style="color: #ffffff;"></i>
                            <i class="fa-solid fa-credit-card white-icon" style="color: #ffffff;"></i>
                            <i class="fa-solid fa-credit-card white-icon" style="color: #ffffff;"></i>
                            <i class="fa-solid fa-credit-card white-icon" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </footer>
            </div>
        </article>
    </body>       
</html>