<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Components | Blackwing</title>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">Body</h3>
            <img srcset="img/Blog-Text.png 2x" src="img/Blog-Text.png" alt="body copy example">
            <div class="component__code">
                <p>Shakers were expert woodworkers who saw beauty in the usefulness of the things they made. Simple shapes, solid joinery, and unadorned materials were the foundation of Shaker design. They build a legacy of beautiful and purposeful work for woodworkers to learn from and follow, demonstrating their commitment to craftsmanship, humble practice, and the use of sustainable materials.</p>
            </div>
        </article>
    </body>       
</html>