<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Components | Blackwing</title>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">Body</h3>
            <div class="component__img">
                <img srcset="img/Blog-Text.png 2x" src="img/Blog-Text.png" alt="body copy example">
            </div>
            <div class="component__code">
                <p>Shakers were expert woodworkers who saw beauty in the usefulness of the things they made. Simple shapes, solid joinery, and unadorned materials were the foundation of Shaker design. They build a legacy of beautiful and purposeful work for woodworkers to learn from and follow, demonstrating their commitment to craftsmanship, humble practice, and the use of sustainable materials.</p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">Headings (h1, h2, h3, etc.)</h3>
            <div class="component__img">
                <img srcset="img/Main-Header_Logo.png 2x" src="img/Main-Header_Logo.png" alt="heading h1 example">
                <img srcset="img/Featured-List_Title.png 2x" src="img/Featured-List_Title.png" alt="heading h2 example on home page">
                <img srcset="img/Featured-List_Item_Title.png 2x" src="img/Featured-List_Item_Title.png" alt="heading h2 example on home page">
                <img srcset="img/Section-Header.png 2x" src="img/Section-Header.png" alt="heading h2 example">
                <img srcset="img/Blog_Title.png 2x" src="img/Blog_Title.png" alt="heading h3 example from blog page">
            </div>
            <div class="component__code">
                <h1 class="logo">Blackwing</h1>
                <h2 class="h2-home">The Core Lineup</h2>
                <h3 class="h3-home">Blackwing 602</h3>
                <h2>Blackwing Blog</h2>
                <h3>Introducing Blackwing 21 - A Tribute To Woodworking</h3>
            </div>
        </article>
    </body>       
</html>